@tailwind base;
@tailwind components;
@tailwind utilities;

.scaffoldDark {
    border: 1px solid black;
}

.scaffoldLight {
    border: 1px solid yellow;
}

body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(118, 121, 118);
    /*border-radius: 8px;*/
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgb(58, 61, 86);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}

